body {
    background: url("background.jpg ")no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main{
    display: flex;
    background-color: white;
    justify-content: center;
    align-items: center;
    border: 3px solid black;
    width: 500px;
    height: 500px;
}
button {
background: #fffdd0;
font-size: large;
border-radius: 25%;
}
button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}